<div class="order-grid">
  <div *ngFor="let order of filteredOrders" class="order-card">
    <strong>Order Number:</strong> {{ order.orderNumber }}<br />
    <strong>Status:</strong>
    <span *ngIf="!editStatusMap[order._id]">{{ order.status }}</span>
    <select *ngIf="editStatusMap[order._id]" [(ngModel)]="order.status">
      <option value="pending">Pending</option>
      <option value="completed">Completed</option>
      <option value="cancelled">Cancelled</option>
    </select>
    <br />

    <button *ngIf="!editStatusMap[order._id]" (click)="editStatusMap[order._id] = true">
      Edit Status
    </button>
    <button *ngIf="editStatusMap[order._id]" (click)="saveOrderStatus(order)">
      Save
    </button>
    <button *ngIf="editStatusMap[order._id]" (click)="editStatusMap[order._id] = false">
      Cancel
    </button>

    <br /><br />
    <strong>Total Amount:</strong> {{ order.totalAmount }}<br />
    <strong>User Email:</strong> {{ order.user.email }}<br />
    <strong>Created At:</strong> {{ order.user.createdAt }}<br />

    <div *ngIf="order.orderItems?.length">
      <strong>Items:</strong>
      <ul>
        <li *ngFor="let item of order.orderItems">
          {{ item.product?.name }} - quantity: {{ item.quantity }} - €{{ item.price }}
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- <div class="total-revenue">
  <strong>Guadagno Totale da Ordini Completati:</strong>
  {{ totalCompletedRevenue}}
</div> -->